[common]
server_name = video_storage
version = 0.0.1
socket_file = /tmp/edge_device_manager.socket
log_path = G:/
log_level = debug

[backend]
server_host = 127.0.0.1
port = 10800

[logic]
sqlite_file = /var/lib/data/videoStorageBackend
video_storage = /home/pi/www/storage
video_prefix = on-demand

[db]
